<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>


  </div>
  <div class="media__body">
    <h3 class="media__title">Easty start and Managed Updates</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora vel corporis aspernatur. Doloribus a itaque
      sapiente dicta obcaecati eveniet saepe nobis reiciendis! Nihil provident voluptas culpa, dolores voluptatibus
      architecto accusantium.</p>

  </div>
</div>