<blockquote class="qoute">
  <p class="qoute__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos quas magnam odio odit optio harum
    quos aspernatur ducimus! Nesciunt, aut unde similique deleniti culpa sed dicta tenetur porro nobis modi!</p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>


      </div>
      <div class="media__body">
        <h3 class="media__title quote__author"> Bennifer Lopez</h3>
        <p class="quote__organization">Hollywood</p>

      </div>
    </div>
  </footer>
</blockquote>
